.button-more {
  color: rgb(118, 255, 191);
  background-color: rgb(46, 46, 46);
  font-size: 14px;
  height: 40px;
  width: 40px;
}

.button-reset {
  color: rgb(81, 88, 232);
  background-color: rgb(46, 46, 46);
  font-size: 14px;
  height: 40px;
  width: 40px;
  margin: 0 8px;
}

.button-less {
  color: rgb(248, 97, 97);
  background-color: rgb(46, 46, 46);
  font-size: 14px;
  height: 40px;
  width: 40px;
}
