<h1>{{ title }}</h1>

<hr />

<app-counter />

<hr />

<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
      (click)="handleAccordionOpenHero()"
    >
      HERO COMPONENTS
    </button>
  </h2>
  <div
    id="collapseOne"
    class="accordion-collapse collapse show"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body" *ngIf="isAccordionOpenHero === true">
      <app-heroes-hero />

      <app-heroes-list />
    </div>
  </div>
</div>

<hr />

<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
      (click)="handleAccordionOpenDBZ()"
    >
      DBZ PAGE + COMPONENT
    </button>
  </h2>
  <div
    id="collapseOne"
    class="accordion-collapse collapse show"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body" *ngIf="isAccordionOpenDbz === true">
      <app-dbz-main-page />
    </div>
  </div>
</div>
